footer nav {
    display: block;

}

footer div {
    display: flex;
}

footer ul {
    margin-top: 10px;
}

footer img {
    height: 3.189792663476874vh;
}

.divFooter {
    display: block;
    list-style: none;
    color: #005BD5;
    margin: 60px;
    cursor: pointer;
}

@media (min-width: 1920px) {
    .divFooter {
    display: block;
    list-style: none;
    color: #005BD5;
    margin: 120px;
    cursor: pointer;
    }
}