header {
    display: flex;
    justify-content: space-between;
    width: 99%;
    height: 8.931419457735247vh;
    align-items: center;
    padding: 10px;
}

header a {
    font-family: "Argentum, sans-serif";
    text-decoration: none;
    list-style: none;
    color: #005BD5;
}

header ul {
    display: flex;
    width: 32.905660377358494vw;
    justify-content: space-around;
}

.logo {
    margin-left: 64px;
}

.menuUl a:hover {
    font-weight: bold;
}

.divNav {
    display: flex;
    align-items: center;
}

.navLi {
    margin-right: 52px;
}

header button {
    background-color: #005BD5;
    border-radius: .9375rem;
    border: none;
    color: white;
    font-family: "Argentum, sans-serif";
    height: 5.103668261562999vh;
    width: 9.660377358490566vw;
    margin-right: 30px;
    cursor:pointer;
}
    
