/*----------SECTION 5----------*/

.containerSix {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.divMainFive {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.divMainFive p {
    font-weight: 500;
    color: #8B8B8B;
    font-size: .9375rem;
    text-align: center;
}

.divMainFive h3 {
    font-weight: 700;
    font-size: 2.0625rem;
    color: #8B8B8B;
    text-align: center;
}

.containerSix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 365px;
    margin-top: -300px;
}

/*----------SECTION 6----------*/

.containerSeven{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.backgroundOne {
    background-color: #EEEEEE;
    width: 9.81132075471698vw;
    height: 26.31578947368421vh;
    position: absolute;
    top: 2650px;
    left: 350px;
    
}
.imgBackgroundOne {
    width: 4.528301886792453vw;
    height: 9.569377990430622vh;
    margin-top: 25px;
    margin-left: 35px;
}
.backgroundOne p {
    font-size: 0.75rem;
    font-weight: 700;
    color: #005BD5;
    margin-left: 10px;
    margin-top: 30px;
}

.backgroundTwo {
    background-color: #005BD5;
    width: 9.81132075471698vw;
    height: 26.31578947368421vh;
    position: absolute;
    top: 2650px;
    left: 510px;
}
.imgBackgroundTwo {
    width: 4.528301886792453vw;
    height: 9.569377990430622vh;
    margin-top: 25px;
    margin-left: 35px;
}

.backgroundTwo p {
    font-size: 0.75rem;
    font-weight: 700;
    color: white;
    margin-left: 25px;
    margin-top: 30px;
}

.backgroundThree {
    background-color: #EEEEEE;
    width: 9.81132075471698vw;
    height: 26.31578947368421vh;
    position: absolute;
    top: 2650px;
    left: 670px;
}
.imgBackgroundThree {
    width: 4.528301886792453vw;
    height: 9.569377990430622vh;
    margin-top: 25px;
    margin-left: 35px;
}
.backgroundThree p {
    font-size: 0.75rem;
    font-weight: 700;
    color: #005BD5;
    margin-left: 15px;
    margin-top: 30px;
}


.backgroundFour {
    background-color: #005BD5;
    width: 9.81132075471698vw;
    height: 26.31578947368421vh;
    position: absolute;
    top: 2650px;
    left: 830px;
}
.imgBackgroundFour {
    width: 4.528301886792453vw;
    height: 9.569377990430622vh;
    margin-top: 25px;
    margin-left: 35px;
}
.backgroundFour p {
    font-size: 0.75rem;
    font-weight: 700;
    color: white;
    margin-left: 25px;
    margin-top: 30px;
}

/*----------SECTION 7----------*/

.containerEight {
    display: flex;
    background-color: #005BD5;
    width: 100%;
    height: 79.74481658692186vh;
    position: relative;
}

.containerEight h3 {
    font-size: 2.1875rem;
    color: white;
    position: absolute;
    top: 100px;
    left: 545px;

}

.inputEmail {
    width: 26.41509433962264vw;
    height: 5.582137161084529vh;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: white;
    font-weight: light;
    position: absolute;
    top: 158px;
    left: 485px;
    padding: 20px;
}

.inputTexto {
    width: 26.41509433962264vw;
    height: 5.6vh;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: white;
    font-weight: light;
    position: absolute;
    top: 205px;
    left: 485px;
    padding: 20px;
}

.inputMsg {
    width: 26.41509433962264vw;
    height: 15vh;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: white;
    font-weight: light;
    position: absolute;
    top: 253px;
    left: 485px;
    padding: 20px;
}

.containerEight button {
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 20px;
    background-color: transparent;
    color: white;
    cursor:pointer;
    position: absolute;
    top: 365px;
    left: 600px;
}

@media (min-width: 1920px) {
    
    /*----------SECTION 5----------*/
    .containerSix img {
        width: 19vw;
    }

    /*----------SECTION 6----------*/
    .containerSeven{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .backgroundOne {
        background-color: #EEEEEE;
        width: 11.81vw;
        height: 23.31vh;
        position: absolute;
        top: 4300px;
        left: 370px;
        
    }
    .imgBackgroundOne {
        width: 4.528301886792453vw;
        height: 9.569377990430622vh;
        margin-top: 30px;
        margin-left: 68px;
    }
    .backgroundOne p {
        font-size: 0.9rem;
        font-weight: 700;
        color: #005BD5;
        margin-left: 45px;
        margin-top: 32px;
    }

    .backgroundTwo {
        background-color: #005BD5;
        width: 11.81vw;
        height: 23.31vh;
        position: absolute;
        top: 4300px;
        left: 675px;
    }
    .imgBackgroundTwo {
        width: 4.528301886792453vw;
        height: 9.569377990430622vh;
        margin-top: 32px;
        margin-left: 68px;
    }

    .backgroundTwo p {
        font-size: 0.9rem;
        font-weight: 700;
        color: white;
        margin-left: 15px;
        margin-top: 32px;
    }

    .backgroundThree {
        background-color: #EEEEEE;
        width: 11.81vw;
        height: 23.31vh;
        position: absolute;
        top: 4300px;
        left: 995px;
    }
    .imgBackgroundThree {
        width: 4.528301886792453vw;
        height: 9.569377990430622vh;
        margin-top: 36px;
        margin-left: 65px;
    }
    .backgroundThree p {
        font-size: 0.9rem;
        font-weight: 700;
        color: #005BD5;
        margin-left: 50px;
        margin-top: 32px;
    }


    .backgroundFour {
        background-color: #005BD5;
        width: 11.81vw;
        height: 23.31vh;
        position: absolute;
        top: 4300px;
        left: 1290px;
    }
    .imgBackgroundFour {
        width: 4.528301886792453vw;
        height: 9.569377990430622vh;
        margin-top: 35px;
        margin-left: 65px;
    }
    .backgroundFour p {
        font-size: 0.9rem;
        font-weight: 700;
        color: white;
        margin-left: 65px;
        margin-top: 32px;
    }

    /*----------SECTION 7----------*/
    .containerEight {
        display: flex;
        background-color: #005BD5;
        width: 100%;
        height: 79.74481658692186vh;
        position: relative;
        margin-top: 100px;
    }
    
    .containerEight h3 {
        font-size: 5.1875rem;
        color: white;
        position: absolute;
        top: 100px;
        left: 670px;
    
    }
    
    .inputEmail {
        width: 29.41vw;
        height: 5.6vh;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        border: none;
        background-color: white;
        font-weight: light;
        position: absolute;
        top: 250px;
        left: 653px;
        padding: 20px;
    }
    
    .inputTexto {
        width: 29.41vw;
        height: 5.6vh;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        border: none;
        background-color: white;
        font-weight: light;
        position: absolute;
        top: 325px;
        left: 653px;
        padding: 20px;
    }
    
    .inputMsg {
        width: 29.41vw;
        height: 15vh;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        border: none;
        background-color: white;
        font-weight: light;
        position: absolute;
        top: 400px;
        left: 653px;
        padding: 20px;
    }
    
    .containerEight button {
        border: 1px solid white;
        border-radius: 50px;
        padding: 5px 20px;
        background-color: transparent;
        color: white;
        cursor:pointer;
        position: absolute;
        top: 600px;
        left: 875px;
    }
}   